
.App-container {
    padding: 1rem;
}


/* #################### Input Component ###################### */


/* ------------- Regular Input */

.input__label {
    display: block;
    font-size: .75rem;
    margin-block-end: 0.25rem;
}

.input__body {
    outline: none;
    padding-block: 1.125rem;
    padding-inline-start: 0.75rem;
    width: min(100%);
    border: 0.063rem solid var(--main-color);
    border-radius: .5rem;

    font-weight: 600;
}

/* Regular Hover */
.input__box:hover .input__label {
    color: var(--main-text);
} 

.input__box:hover .input__body {
    border-color: var(--main-hover);
} 

/* Regular Focus */
.input__label--focus { 
    color: var(--main-focus);
}

.input__body--focus {
    border-color: var(--main-focus);
} 


/* ------------- Error Input */

.input__label--error { 
    color: var(--main-error);
}

.input__body--error {
    border-color: var(--main-error);
} 

/* ------------- Disabled Input */

.input__label--disabled {
    display: block;
    font-size: .75rem;
    margin-block-end: 0.25rem;
}

.input__body--disabled {
    outline: none;
    padding-block: 1.125rem;
    padding-inline-start: 0.75rem;

    font-weight: 600;

    border: 0.063rem solid var(--main-color);
    border-radius: .5rem;

    background-color: var(--main-disabled);
    border-color: var(--border-disabled);
    cursor: not-allowed;
}

/* Disabled Hover */
.input__box:hover .input__label--disabled {
    color: inherit;
} 

.input__box:hover .input__body--disabled {
    border-color: var(--border-disabled);
} 

/* ------------- Helper Text */

.input__helper {
    color: var(--main-color);
}

.input__helper--error {
    color: var(--main-error);
}

/* ------------- Input Icons */

.input__container {
    position: relative;
    width: 12.5rem;
}

.input__icon {
    position: absolute;
    top: 50%;
    color: inherit;
}

.input__icon--start {
    left: .45rem;
}

.input__icon--end {
    right: .5rem;
}

.input__body--icon {
    padding-inline-start: 2rem;
}

/* ------------- Input Sizes */

/* Small */
.input__body--small {
    padding-block: .625rem;
}

/* FullWidth */
.input__container--full {
    width: 100%;
}

/* ------------- Input Multiline */

.input_body--multiline {
    resize: none;
}