:root{
  --main-color: #828282;
  --main-text: #333333;
  --main-error:#D32F2F;

  --main-disabled: #F2F2F2;
  --border-disabled: #E0E0E0;
  /* Hover & Focus */
  --main-hover: #333333;
  --main-focus: #2962FF;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
